body{
    margin: 0;
}

#header-holder{
    width: 100%;
    position: fixed;
}

#header{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000000;
}

#header  img{
    height: 100%;
    background: transparent;
}

#logo-wht{
    display: block;
}
#logo-red{
    display: none;
}
#riot-logo:hover > #logo-wht{
    display: none;
}
#riot-logo:hover > #logo-red{
    display: block;
}

#themes{
    flex-grow: 1;
    display: flex;
    font-family: arial;
}

#themes div{
    flex-grow: auto;
}

#themes div a{
    font-size: 24px;
    position: relative;
    top: 35%;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
}

#social-medias{
    display: block;
    flex-grow: 1;
    text-align: right;
}

#social-medias a{
    text-decoration: none;
}

#social-medias a img{
    margin: 5px 3px;
    height: 28px;
    width: 28px;
}

#popup-aboutus{
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 200px;
    height: auto;
    margin-left: 200px;
}

#popup-aboutus a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 20px;
    text-decoration: none;
}

#popup-products{
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 220px;
    height: auto;
    margin-left: 410px;
}

#popup-products a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 15px;
    text-decoration: none;
}
/*Iznad je HEARED*/
#aboutus-header{
    height: 700px;
    background: url("E:/Viktor kursevi/Projects/assets/RiotOfficeBlack.png");
    background-size: cover;
    background-position: 0px -200px;
}

#header-content {
    padding-top: 350px;
    padding-bottom: 243px;
    text-align: center;
    justify-content: center;
}

#header-content p{
    font-family: Arial;
    font-size: 94px;
    color: white;
    margin: 0px;
}

#sadrzaj{
    padding: 0px 70px;
    height: 600px;
    text-align: center;
    padding-top: 100px;
}

#sadrzaj p{
    margin-bottom: 70px;
    font-size: 36px;
}
