body{
    margin: 0;
}

#header-holder{
    width: 100%;
    position: fixed;
    z-index: 2;
}

#header{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000000;
}

#header  img{
    height: 100%;
    background: transparent;
}

#logo-wht{
    display: block;
}
#logo-red{
    display: none;
}
#riot-logo:hover > #logo-wht{
    display: none;
}
#riot-logo:hover > #logo-red{
    display: block;
}

#themes{
    flex-grow: 1;
    display: flex;
    font-family: arial;
    padding-top: 25px;
}

#themes div{
    flex-grow: auto;
}

#themes div a{
    text-align: right;
    font-size: 24px;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
}
#themes > a > img{
    height: 20px;
    width: 30px;
}
#themes > a > img:hover{
    cursor: pointer;
}

#social-medias{
    display: block;
    flex-grow: 1;
    text-align: right;
}

#social-medias a{
    text-decoration: none;
}

#social-medias a img{
    margin: 5px 3px;
    height: 28px;
    width: 28px;
}

#about-us{
    position: relative;
    display: block;
}
#about-us-arr-up{
    display: none;
}
#products-arr-up{
    display: none;
}

#popup-aboutus{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-aboutus a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 20px;
    text-decoration: none;
}

#products{
    position: relative;
    display: block;
}
#popup-products{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -2;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-products a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 15px;
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Sadrzaj */

#games-header{
    font-family: Arial;
    width: 100%;
    height: 250px;
    padding-top: 180px;
    text-align: center;
    background: url("assets/RiotAllGames.png");
    background-size: cover;
    background-position: center;
}

#games-header p{
    font-size: 70px;
    color: white;
    margin: 0px;
}

#multy-games{
    padding-top: 200px;
}
#multy-games > p{
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

#multy-select{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    background-image: url("assets/Esports.png");
    background-size: cover;
    background-position: center;
    transition: 500ms;
}
#multy-select > div{
    padding: 0px 40px;
    align-content: center;
    text-align: center;
}
#multy-select > div > div{
    display: none;
}
#multy-select > div > div > p{
    font-size: calc(1.5vh + 1.5vw);
}
#multy-select h2{
    font-size: calc(2vw + 2vh);
    margin-bottom: 30px;
}

#lol{
    flex-grow: 1;
    color: white;
    border: 1px solid rgb(116, 116, 116);
}
#lol-txt{
    background-color: #00000071;
    border-radius: 10px;
}

#val{
    flex-grow: 1;
    color: white;
    border: 1px solid rgb(116, 116, 116);
}
#val-txt{
    background-color: #00000071;
    border-radius: 10px;
}

#tft{
    flex-grow: 1;
    color: white;
    border: 1px solid rgb(116, 116, 116);
}
#tft-txt{
    background-color: #00000071;
    border-radius: 10px;
}

#runet{
    flex-grow: 1;
    color: white;
    border: 1px solid rgb(116, 116, 116);
}
#runet-txt{
    background-color: #00000071;
    border-radius: 10px;
}

.main-header{
    font-size: 60px;
    border-radius: 10px;
    color: white;
    background-color: #29292994;
}
.main-header:hover{
    cursor: pointer;
}

/*Riot Forge*/

#forge{
    margin-top: 150px;
    text-align: center;
}

#forge-header{
    font-size: 50px;
    margin-bottom: 20px;
}

#forge-txt{
    margin-top: 0px;
    font-size: 30px;
}

#forge-holder{
    display: grid;
    grid-template: "lt pc rt";
    grid-template-columns: 7.5vw 1fr 7.5vw;
    height: 40vw;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 8vh;
}

#btn-left{
    grid-area: lt;
    height: 40vw;
}
#ling-left{
    padding-right: 5px;
}
#link-left img{
    margin-top: 20vw;
    height: 6.2vw;
    width: 6.2vw;
}
#link-left img:hover{
    cursor: pointer;
}
#btn-right{
    grid-area: rt;
    height: 40vw;
}
#link-right img{
    margin-top: 20vw;
    height: 6.2vw;
    width: 6.2vw;
}
#link-right img:hover{
    cursor: pointer;
}
#forge-games{
    grid-area: pc;
    height: 40vw;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 300ms;
}

@media only screen and (max-width: 1555px){

}

@media only screen and (max-width: 1350px){
    #themes .main-theme {
        text-align: right;
        margin: 0px 0px;
    }

    .main-header{
        font-size: calc(4vw);
    }
}


@media only screen and (max-width: 1024px){
    
}

@media only screen and (max-width: 940px){
    #multy-select > div{
        padding: 0px 20px;
    }

    #multy-select > div > div > p{
        font-size: calc(1vh + 1vw);
    }

    #multy-select h2{
        font-size: calc(1.5vw + 1.5vh);
    }
}

@media only screen and (max-width: 815px){
    #themes > div > a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 753px){
    #themes div a{
        font-size: 20px;
        margin: 0px 5px;
    }

}

@media only screen and (max-width: 713px){
    #themes div a{
        font-size: 18px;
    }

    #popup-aboutus a{
        font-size: 24px;
    }
    #popup-products a{
        font-size: 24px;
    }

    
}

@media only screen and (max-width: 694px){
    #themes div a{
        font-size: 18px;
    }

    #social-medias a img{
        margin: 5px 3px;
        height: 24px;
        width: 24px;
    }
}

@media only screen and (max-width: 669px){
    #themes{
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        gap: 0;
        padding-bottom: 25px;
        background-color: rgb(31, 31, 31);
        border-top: 3px solid red;
        width: 100%;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
    }
    #themes.active{
        top: 80px;
    }
    #themes .main-theme{
        margin-left: 40px;
    }
    #themes div a{
        font-size: 14px;
    }

    #popup-aboutus{
        top: 225%;
    }
    #popup-aboutus a{
        font-size: 20px;
    }
    #popup-products{
        top: 225%;
    }
    #popup-products a{
        font-size: 20px;
    }

    #social-medias{
        align-content: center;
    }

    .burger{
        display: block;
        margin: auto 20px;
        align-self: center;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
}

@media only screen and (max-width: 650px){
    #header{
        height: 80px;
    }

    #themes.active{
        top: 80px;
    }

    #themes div {
        margin: 0px 0px;
    }

    #riot-logo{
        width: 40%;
        height: 100%;
        align-self: center;
    }
    #logo-wht{
        width: 80%;
    }
    #logo-red{
        width: 80%;
    }

    #popup-aboutus{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-aboutus a{
        font-size: 18px;
    }
    #popup-products{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-products a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 608px){
    #forge-header{
        font-size: 40px;
    }

    #forge-txt{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    #riot-logo{
        height: auto;
    }
}

@media only screen and (max-width: 537px){
    #themes .main-theme{
        margin-left: 20px;
    }
}

@media only screen and (max-width : 480px){
    #multy-select{
        display: grid;
        grid-template: "lol val"
                        "tft runet";
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vh 50vh;
    }

    #lol{
        grid-area: lol;
    }
    #val{
        grid-area: val;
    }
    #tft{
        grid-area: tft;
    }
    #runet{
        grid-area: runet;
    }

    .main-header{
        padding: 3px;
    }
}

@media only screen and (max-width: 423px){
    #themes > .main-theme > a{
        font-size: 10px;
    }
}

@media only screen and (max-width : 419px){
    #games-header{
        height: 450px;
        padding-top: 0px;
        align-content: center;
    }

    #games-header p{
        font-size: calc(14vw);
    }

    #multy-games > p{
        font-size: calc(12vw);
    }
}

@media only screen and (max-width : 405px){
    #forge-header{
        font-size: calc(10vw);
    }

    #forge-txt{
        font-size: calc(4.8vw);
    }
}

@media only screen and (max-width : 403px){
    #themes div a{
        font-size: 14px;
    }
}

@media only screen and (max-width : 352px){
    #header{
        height: 120px;
    }

    #themes{
        padding-top: 45px;
    }
    #themes.active {
        top: 120px;
    }

    #popup-aboutus{
        top: 240%;
    }
    #popup-products{
        top: 240%;
    }
}

@media only screen and (max-width : 352px){
    #themes div a{
        font-size: 11px;
    }

    #themes > a > img{
        height: 17px;
        width: 27px;
    }
}

@media only screen and (max-width : 316px){
    .main-header{
        font-size: calc(6vw);
    }
}

@media only screen and (max-width : 290px){
    #themes{
        justify-content: left;
    }
}

@media only screen and (max-width : 275px){
    #themes{
        justify-content: center;
    }

    #themes .main-theme {
        margin-left: 0px;
    }
}