body{
    margin: 0;
}

#header-holder{
    width: 100%;
    position: fixed;
    z-index: 2;
}

#header{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000000;
}

#header  img{
    height: 100%;
    background: transparent;
}

#logo-wht{
    display: block;
}
#logo-red{
    display: none;
}
#riot-logo:hover > #logo-wht{
    display: none;
}
#riot-logo:hover > #logo-red{
    display: block;
}

#themes{
    flex-grow: 1;
    display: flex;
    font-family: arial;
    padding-top: 25px;
}

#themes div{
    flex-grow: auto;
}

#themes div a{
    text-align: right;
    font-size: 24px;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
}
#themes > a > img{
    height: 20px;
    width: 30px;
}
#themes > a > img:hover{
    cursor: pointer;
}

#social-medias{
    display: block;
    flex-grow: 1;
    text-align: right;
}

#social-medias a{
    text-decoration: none;
}

#social-medias a img{
    margin: 5px 3px;
    height: 28px;
    width: 28px;
}

#about-us{
    position: relative;
    display: block;
}
#about-us-arr-up{
    display: none;
}
#products-arr-up{
    display: none;
}

#popup-aboutus{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-aboutus a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 20px;
    text-decoration: none;
}

#products{
    position: relative;
    display: block;
}
#popup-products{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -2;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-products a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 15px;
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/* Sadrzaj */

#sadrzaj{
    height: auto;
}

#album{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    text-align: center;
    background-color: rgb(63, 63, 63);
}

#album a:hover{
    cursor: pointer;
}
#album img{
    height: 17vw;
    width: 17vw;
    margin-top: 100px;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    margin-bottom: 10px;
    border-radius: 20px;
}
#kda{
    border: 3px solid lightblue;
}
#true{
    border: 3px solid red;
}
#penta{
    border: 3px solid goldenrod;
}
#heart{
    border: 3px solid salmon;
}

#pjesme{
    height: 100vh;
    padding-top: 5px;
    background-image: url("assets/RiotSongs.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#pjesme img{
    grid-area: img;
    height: 10vw;
    width: 10vw;
}
#pjesme > div > a > img{
    height: 20px;
    width: 20px;
}
#pjesme a{
    color: blue;
}
.song{
    display: grid;
    align-content: top;
    grid-template: "img name view length";
    grid-template-columns: 10vw 18vw 35vw  25vw;
    height: 10vw;
    padding: 2vw;
    margin-top: 30px;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 20px;
    background-color: #c9c9c9f0;
}

#tags{
    display: flex;
    font-size: calc(2vw);
    padding-bottom: 1vw;
    padding-left: 2vw;
    margin-top: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: lightgrey;
    border-radius: 10px;
}
#tags p{
    margin: 0px 15.5vw;
}

#song-kda{
    display: none;
    padding-bottom: 50px;
}
#song-true{
    display: none;
    padding-bottom: 50px;
}
#song-heart{
    display: none;
    padding-bottom: 50px;
}
#song-penta{
    display: none;
    padding-bottom: 50px;
}


.song > p{
    font-size: calc(2.5vw);
    margin-top: calc(3vw);
}

.name{
    grid-area: name;
    margin-left: 3vw;
}
.view{
    grid-area: view;
    margin-left: 20vw;
}
.length{
    grid-area: length;
    margin-left: 23vw;
}

.spotify{
    font-size: 18px;
    padding-left: 30px;
}

@media only screen and (max-width: 1350px){
    #themes .main-theme {
        text-align: right;
        margin: 0px 0px;
    }
}


@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 886px){
    #tags p{
        margin: 0px 15vw;
    }
}

@media only screen and (max-width: 815px){
    #themes > div > a{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 753px){
    #themes div a{
        font-size: 20px;
        margin: 0px 5px;
    }

    .song > p{
        font-size: calc(3vw);
    }

}

@media only screen and (max-width: 713px){
    #themes div a{
        font-size: 18px;
    }

    #popup-aboutus a{
        font-size: 24px;
    }
    #popup-products a{
        font-size: 24px;
    }
}

@media only screen and (max-width: 694px){
    #themes div a{
        font-size: 18px;
    }

    #social-medias a img{
        margin: 5px 3px;
        height: 24px;
        width: 24px;
    }
}

@media only screen and (max-width: 669px){
    #themes{
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        gap: 0;
        padding-bottom: 25px;
        background-color: rgb(31, 31, 31);
        border-top: 3px solid red;
        width: 100%;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
    }
    #themes.active{
        top: 80px;
    }
    #themes .main-theme{
        margin-left: 40px;
    }
    #themes div a{
        font-size: 14px;
    }

    #popup-aboutus{
        top: 225%;
    }
    #popup-aboutus a{
        font-size: 20px;
    }
    #popup-products{
        top: 225%;
    }
    #popup-products a{
        font-size: 20px;
    }

    #social-medias{
        align-content: center;
    }

    .burger{
        display: block;
        margin: auto 20px;
        align-self: center;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
}

@media only screen and (max-width: 666px){
    #tags p{
        margin: 0px 14vw;
    }

    .name{
        margin-left: 2.5vw;
    }
    .view{
        margin-left: 14vw;
    }
    .length{
        margin-left: 19vw;
    }
}

@media only screen and (max-width: 650px){
    #header{
        height: 80px;
    }

    #themes.active{
        top: 80px;
    }

    #themes div {
        margin: 0px 0px;
    }

    #riot-logo{
        width: 40%;
        height: 100%;
        align-self: center;
    }
    #logo-wht{
        width: 80%;
    }
    #logo-red{
        width: 80%;
    }

    #popup-aboutus{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-aboutus a{
        font-size: 18px;
    }
    #popup-products{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-products a{
        font-size: 20px;
    }

    #album img{
        margin-top: 110px;
    }
}

@media only screen and (max-width: 600px){
    #riot-logo{
        height: auto;
    }

    #album img{
        margin-right: 3.4vw;
    }
}

@media only screen and (max-width: 537px){
    #themes .main-theme{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 530px){
    #tags p{
        margin: 0px 13.5vw;
    }
}

@media only screen and (max-width: 521px){
    #album img{
        margin-right: 3.3vw;
    }
}

@media only screen and (max-width: 477px){
    #album img{
        margin-right: 3.1vw;
    }
}

@media only screen and (max-width : 435px){
    #tags p{
        margin: 0px 12vw;
    }

    .length{
        margin-left: 12vw;
    }

    .song{
        border-radius: 10px;
    }
}  

@media only screen and (max-width : 424px){
    #tags{
        font-size: calc(3vw);
    }
}

@media only screen and (max-width: 423px){
    #themes > .main-theme > a{
        font-size: 10px;
    }
}

@media only screen and (max-width: 409px){
    #album img{
        margin-right: 2.9vw;
    }
}

@media only screen and (max-width : 403px){
    #themes div a{
        font-size: 14px;
    }

}

@media only screen and (max-width: 558px){
    #album img{
        margin-right: 2.6vw;
    }
}

@media only screen and (max-width : 352px){
    #header{
        height: 120px;
    }

    #themes{
        padding-top: 45px;
    }
    #themes.active {
        top: 120px;
    }

    #themes div a{
        font-size: 11px;
    }

    #themes > a > img{
        height: 17px;
        width: 27px;
    }

    #popup-aboutus{
        top: 240%;
    }
    #popup-products{
        top: 240%;
    } 

    #album img{
        margin-top: 130px;
    }

    .song > p{
        font-size: calc(3vw);
    }

    .length{
        margin-left: 15vw;
    }
}

@media only screen and (max-width : 307px){
    #tags{
        padding-left: 7vw;
    }
    #tags p{
        margin: 0px 10vw;
    }

    .spotify{
        font-size: 12px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 301px){
    #album img{
        margin-right: 2.4vw;
    }
}

@media only screen and (max-width : 283px){
    #tags{
        font-size: calc(4vw);
    }

    .song > p{
        font-size: calc(3.3vw);
        margin-top: calc(2.5vw);
    }
}

@media only screen and (max-width: 301px){
    #album img{
        margin-right: 2.1vw;
    }
}

@media only screen and (max-width : 257px){
    .song{
        height: auto;
    }
    .song > p{
        font-size: calc(3.5vw);
        margin-top: calc(2.3vw);
    }
}

@media only screen and (max-width : 290px){
    #themes{
        justify-content: left;
    }
}

@media only screen and (max-width : 275px){
    #themes{
        justify-content: center;
    }

    #themes .main-theme {
        margin-left: 0px;
    }
}

@media only screen and (max-width : 352px) and (max-height: 450px){
    #sadrzaj{
        height: 100vh;
    }
}