body{
    margin: 0;
}

#header-holder{
    width: 100%;
    position: fixed;
    z-index: 2;
}

#header{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000000;
}

#header  img{
    height: 100%;
    background: transparent;
}

#logo-wht{
    display: block;
}
#logo-red{
    display: none;
}
#riot-logo:hover > #logo-wht{
    display: none;
}
#riot-logo:hover > #logo-red{
    display: block;
}

#themes{
    flex-grow: 1;
    display: flex;
    font-family: arial;
    padding-top: 25px;
}

#themes div{
    flex-grow: auto;
}

#themes div a{
    text-align: right;
    font-size: 24px;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
}
#themes > a > img{
    height: 20px;
    width: 30px;
}
#themes > a > img:hover{
    cursor: pointer;
}

#social-medias{
    display: block;
    flex-grow: 1;
    text-align: right;
}

#social-medias a{
    text-decoration: none;
}

#social-medias a img{
    margin: 5px 3px;
    height: 28px;
    width: 28px;
}

#about-us{
    position: relative;
    display: block;
}
#about-us-arr-up{
    display: none;
}
#products-arr-up{
    display: none;
}

#popup-aboutus{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-aboutus a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 20px;
    text-decoration: none;
}

#products{
    position: relative;
    display: block;
}
#popup-products{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -2;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-products a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 15px;
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* SADRZAJ */

#content-holder{
    width: 100vw;
    height: 100vh;
}

#drzava{
    display: grid;
    grid-template: "lt txt rt";
    grid-template-columns: 100px 1fr 100px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: 700ms;
}
#place-name{
    grid-area: txt;
}


#drzava p{
    font-size: calc(6vh + 6vw);
    font-weight: bold;
    margin-top: 30vh;
    color: white;
}

#btn-left{
    grid-area: lt;
    width: 100px;
    height: 100%;
    background-color: #00000013;
}
#btn-left img{
    display: block;
    margin-top: 50vh;
    height: 80px;
    width: 80px;
}


#btn-right{
    grid-area: rt;
    width: 100px;
    height: 100%;
    background-color: #00000013;
}
#btn-right img{
    display: block;
    margin-top: 50vh;
    height: 80px;
    width: 80px;
}
#btn-left:hover{
    transition: 500ms;
    background-color: #25252583;
}
#btn-right:hover{
    transition: 500ms;
    background-color: #25252583;
}

#link-left img:hover{
    cursor: pointer;
}
#link-right img:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1350px){
    #aboutus-header{
    background-position: 0px 0px;
    }

    #themes .main-theme {
        text-align: right;
        margin: 0px 0px;
    }
}


@media only screen and (max-width: 1024px){
}

@media only screen and (max-width: 815px){
    #themes > div > a{
        font-size: 20px;
    }
    
    #drzava p{
        font-size: calc(6vh + 6vw);
    }
}

@media only screen and (max-width: 753px){
    #themes div a{
        font-size: 20px;
        margin: 0px 5px;
    }
}

@media only screen and (max-width: 713px){
    #themes div a{
        font-size: 18px;
    }

    #popup-aboutus a{
        font-size: 24px;
    }
    #popup-products a{
        font-size: 24px;
    }

    
}

@media only screen and (max-width: 694px){
    #themes div a{
        font-size: 18px;
    }

    #social-medias a img{
        margin: 5px 3px;
        height: 24px;
        width: 24px;
    }
}

@media only screen and (max-width: 669px){
    #themes{
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        gap: 0;
        padding-bottom: 25px;
        background-color: rgb(31, 31, 31);
        border-top: 3px solid red;
        width: 100%;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
    }
    #themes.active{
        top: 80px;
    }
    #themes .main-theme{
        margin-left: 40px;
    }
    #themes div a{
        font-size: 14px;
    }

    #popup-aboutus{
        top: 225%;
    }
    #popup-aboutus a{
        font-size: 20px;
    }
    #popup-products{
        top: 225%;
    }
    #popup-products a{
        font-size: 20px;
    }

    #social-medias{
        align-content: center;
    }

    .burger{
        display: block;
        margin: auto 20px;
        align-self: center;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
}

@media only screen and (max-width: 670px){
    #drzava{
        grid-template-columns: 50px 1fr 50px;
    }
    #drzava p{
        font-size: calc(6vh + 6vw);
    }

    #btn-left{
        width: 50px;
    }
    #btn-left img{
        height: 40px;
        width: 40px;
    }
    #btn-right{
        width: 50px;
    }
    #btn-right img{
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 650px){
    #header{
        height: 80px;
    }

    #themes.active{
        top: 80px;
    }

    #themes div {
        margin: 0px 0px;
    }

    #riot-logo{
        width: 40%;
        height: 100%;
        align-self: center;
    }
    #logo-wht{
        width: 80%;
    }
    #logo-red{
        width: 80%;
    }

    #header-content {
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
        justify-content: center;
    }
    #header-content p{
        font-size: 42px;
    }

    #popup-aboutus{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-aboutus a{
        font-size: 18px;
    }
    #popup-products{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-products a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    #riot-logo{
        height: auto;
    }

    #drzava p{
        font-size: calc(5vh + 5vw);
    }
}

@media only screen and (max-width: 537px){
    #themes .main-theme{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 423px){
    #themes > .main-theme > a{
        font-size: 10px;
    }
}

@media only screen and (max-width : 403px){
    #header-content {
        padding-top: 200px;
        text-align: center;
        justify-content: center;
    }

    #themes div a{
        font-size: 14px;
    }

    #drzava p{
        font-size: calc(4vh + 4vw);
    }
}

@media only screen and (max-width : 352px){
    #header{
        height: 120px;
    }

    #themes{
        padding-top: 45px;
    }
    #themes.active {
        top: 120px;
    }

    #popup-aboutus{
        top: 240%;
    }
    #popup-products{
        top: 240%;
    }

    #drzava p{
        font-size: calc(3vh + 3vw);
        margin-top: 40vh;
    }
}

@media only screen and (max-width : 352px){
    #themes div a{
        font-size: 11px;
    }

    #themes > a > img{
        height: 17px;
        width: 27px;
    }
}

@media only screen and (max-width : 290px){
    #themes{
        justify-content: left;
    }
}

@media only screen and (max-width : 275px){
    #themes{
        justify-content: center;
    }

    #themes .main-theme {
        margin-left: 0px;
    }
}