body{
    margin: 0;
}

#header-holder{
    width: 100%;
    position: fixed;
    z-index: 2;
}

#header{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000000;
}

#header  img{
    height: 100%;
    background: transparent;
}

#logo-wht{
    display: block;
}
#logo-red{
    display: none;
}
#riot-logo:hover > #logo-wht{
    display: none;
}
#riot-logo:hover > #logo-red{
    display: block;
}

#themes{
    flex-grow: 1;
    display: flex;
    font-family: arial;
    padding-top: 25px;
}

#themes div{
    flex-grow: auto;
}

#themes div a{
    text-align: right;
    font-size: 24px;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
}
#themes > a > img{
    height: 20px;
    width: 30px;
}
#themes > a > img:hover{
    cursor: pointer;
}

#social-medias{
    display: block;
    flex-grow: 1;
    text-align: right;
}

#social-medias a{
    text-decoration: none;
}

#social-medias a img{
    margin: 5px 3px;
    height: 28px;
    width: 28px;
}

#about-us{
    position: relative;
    display: block;
}
#about-us-arr-up{
    display: none;
}
#products-arr-up{
    display: none;
}

#popup-aboutus{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-aboutus a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 20px;
    text-decoration: none;
}

#products{
    position: relative;
    display: block;
}
#popup-products{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -2;
    display: none;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(41, 41, 41);
    border-top: 3px solid red;
    width: 100%;
    height: auto;
}

#popup-products a{
    justify-self: center;
    color: rgb(212, 210, 210);
    font-size: 28px;
    margin: 20px 15px;
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*Sadrzaj*/

#stranica{
    padding: 0px 20vw;
    background: url("assets/SummonersRift.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#sadrzaj{
    height: auto;
}

#sadrzaj a{
    font-weight: bold;
}

#products-header{
    text-align: center;
    height: 30vh;
    padding-top: 15vh;
    background: url("assets/Header.png");
    background-position: center;
    background-size: cover ;

}
#products-header p{
    color: white;
    font-size: calc(3vh + 3vw);
    margin: 54.450px;

}


#games{
    display: flex;
    padding-top: 50px;
    padding-bottom: 70px;
    height: auto;
    background-color: white;
}
#games div{
    flex-grow: 1;
    margin-left: 50px;
    height: auto;
}
#games img{
    flex-grow: 1;
    margin-right: 50px;
    height: 26vw;
    width: 31vw;
}
#games-holder{
    margin-right: 50px;
    text-align: center;
}
#games-header{
    margin-bottom: 30px;
    font-size: calc(1.5vh + 1.5vw);
    text-decoration: none;
    color: black;
}
#games-header:hover{
    text-decoration: underline;
}
#games-txt{
    font-size: calc(1vh + 1vw);
}

#music{
    display: flex;
    padding-top: 50px;
    padding-bottom: 70px;
    height: auto;
    background-color: white;
}
#music div{
    flex-grow: 1;
    margin-right: 50px;
}
#music img{
    flex-grow: 1;
    margin-left: 50px;
    height: 26vw;
    width: 31vw;
}
#music-holder{
    margin-left: 50px;
    text-align: center;
}
#music-header{
    margin-bottom: 30px;
    font-size: calc(1.5vh + 1.5vw);
    text-decoration: none;
    color: black;
}
#music-header:hover{
    text-decoration: underline;
}
#music-txt{
    font-size: calc(1vh + 1vw);
}

#movie{
    display: flex;
    padding-top: 50px;
    padding-bottom: 70px;
    height: auto;
    background-color: white;
}
#movie div{
    flex-grow: 1;
    margin-left: 50px;
}
#movie img{
    flex-grow: 1;
    margin-right: 50px;
    height: 26vw;
    width: 31vw;
}
#movie-holder{
    margin-right: 50px;
    text-align: center;
}
#movie-header{
    margin-bottom: 30px;
    font-size: calc(1.5vh + 1.5vw);
    text-decoration: none;
    color: black;
}
#movie-header:hover{
    text-decoration: underline;
}
#movie-txt{
    font-size: calc(1vh + 1vw);
}

@media only screen and (max-width: 1350px){
    #themes .main-theme {
        text-align: right;
        margin: 0px 0px;
    }
}


@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 960px){
    #stranica{
        padding: 0px 10vw;
    }
    
}

@media only screen and (max-width: 815px){
    #themes > div > a{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 753px){
    #themes div a{
        font-size: 20px;
        margin: 0px 5px;
    }

}

@media only screen and (max-width: 713px){
    #themes div a{
        font-size: 18px;
    }

    #popup-aboutus a{
        font-size: 24px;
    }
    #popup-products a{
        font-size: 24px;
    }

    
}

@media only screen and (max-width: 694px){
    #themes div a{
        font-size: 18px;
    }

    #social-medias a img{
        margin: 5px 3px;
        height: 24px;
        width: 24px;
    }
}

@media only screen and (max-width: 669px){
    #themes{
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        gap: 0;
        padding-bottom: 25px;
        background-color: rgb(31, 31, 31);
        border-top: 3px solid red;
        width: 100%;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
    }
    #themes.active{
        top: 80px;
    }
    #themes .main-theme{
        margin-left: 40px;
    }
    #themes div a{
        font-size: 14px;
    }

    #popup-aboutus{
        top: 225%;
    }
    #popup-aboutus a{
        font-size: 20px;
    }
    #popup-products{
        top: 225%;
    }
    #popup-products a{
        font-size: 20px;
    }

    #social-medias{
        align-content: center;
    }

    .burger{
        display: block;
        margin: auto 20px;
        align-self: center;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
}

@media only screen and (max-width: 650px){
    #header{
        height: 80px;
    }

    #themes.active{
        top: 80px;
    }

    #themes div {
        margin: 0px 0px;
    }

    #riot-logo{
        width: 40%;
        height: 100%;
        align-self: center;
    }
    #logo-wht{
        width: 80%;
    }
    #logo-red{
        width: 80%;
    }

    #popup-aboutus{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-aboutus a{
        font-size: 18px;
    }
    #popup-products{
        width: 100%;
        height: auto;
        margin-left: 0px;
        justify-content: center;
    }
    #popup-products a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    #riot-logo{
        height: auto;
    }
}

@media only screen and (max-width: 537px){
    #themes .main-theme{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 475px){
    #games img{
        height: 23vw;
        width: 28vw;
    }
    #music img{
        height: 23vw;
        width: 28vw;
    }
    #movie img{
        height: 23vw;
        width: 28vw;
    }

    #stranica{
        padding: 0px 5vw;
    }
}

@media only screen and (max-width: 423px){
    #themes > .main-theme > a{
        font-size: 10px;
    }
}

@media only screen and (max-width : 403px){
    #themes div a{
        font-size: 14px;
    }
}

@media only screen and (max-width : 380px){
    #stranica{
        padding: 0px 0vw;
    }
}

@media only screen and (max-width : 352px){
    #header{
        height: 120px;
    }

    #themes{
        padding-top: 45px;
    }
    #themes.active {
        top: 120px;
    }

    /*#themes div a{
        font-size: 11px;
    }

    #themes > a > img{
        height: 17px;
        width: 27px;
    }*/

    #popup-aboutus{
        top: 240%;
    }
    #popup-products{
        top: 240%;
    }
}

@media only screen and (max-width : 352px){
    #themes div a{
        font-size: 11px;
    }

    #themes > a > img{
        height: 17px;
        width: 27px;
    }

    #games img{
        height: 30vw;
        width: 34vw;
    }
    #games-txt{
        font-size: calc(1.5vh + 1.5vw);
    }
    #music img{
        height: 30vw;
        width: 34vw;
    }
    #music-txt{
        font-size: calc(1.5vh + 1.5vw);
    }
    #movie img{
        height: 30vw;
        width: 34vw;
    }
    #movie-txt{
        font-size: calc(1.5vh + 1.5vw);
    }
}
@media only screen and (max-height : 352px){
    #games img{
        height: 30vw;
        width: 34vw;
    }
    #games-txt{
        font-size: calc(1.5vh + 1.5vw);
    }
    #music img{
        height: 30vw;
        width: 34vw;
    }
    #music-txt{
        font-size: calc(1.5vh + 1.5vw);
    }
    #movie img{
        height: 30vw;
        width: 34vw;
    }
    #movie-txt{
        font-size: calc(1.5vh + 1.5vw);
    }
}

@media only screen and (max-width : 290px){
    #themes{
        justify-content: left;
    }
}

@media only screen and (max-width : 275px){
    #themes{
        justify-content: center;
    }

    #themes .main-theme {
        margin-left: 0px;
    }
}
